Repository mlops-for-mle/mlops-for-mle, pull requests merged in 2022-12, with the labels that each got.

#18 :hammer: Modified filename according to dependency
  ch6/Makefile
Labels: hotfix, size/XS

#20 🚚 Bugfix/change mlflow port
  ch3/docker-compose.yaml
  ch3/load_model_from_registry.py
  ch3/save_model_to_registry.py
  ch6/app.py
  ch6/download_model.py
Labels: bugfix, size/S

#21 :fire: remove run name option
  ch3/save_model_to_registry.py
Labels: hotfix, size/XS

#22 Bug fix/fix package info
  ch5/Makefile
  ch6/Makefile
Labels: hotfix, size/XS

#24 Enhance/build at same network
  ch1/Makefile
  ch1/docker-compose.yaml
  ch3/Makefile
  ch3/docker-compose.yaml
  ch5/Makefile
  ch6/Makefile
  ch6/docker-compose.yaml
  ch7/Makefile
  ch7/kafka-docker-compose.yaml
  ch7/sink-docker-compose.yaml
  ch8/Makefile
  ch8/docker-compose.yaml
Labels: enhancement, size/M

#19 Feature/ch8 stream serving
  ch1/Makefile
  ch1/docker-compose.yaml
  ch3/Makefile
  ch3/docker-compose.yaml
  ch5/Dockerfile
  ch5/Makefile
  ch6/Dockerfile
  ch6/Makefile
  ch6/README.md
  ch6/docker-compose.yaml
  ch7/Makefile
  ch7/README.md
  ch7/connect.Dockerfile
  ch7/create_table.py
  ch7/kafka-docker-compose.yaml
  ch7/sink_connector.json
  ch7/source_connector.json
  ch7/target-docker-compose.yaml
  ch7/target.Dockerfile
  ch8/Dockerfile
  ch8/Makefile
  ch8/README.md
  ch8/data_subscriber.py
  ch8/docker-compose.yaml
Labels: feature, size/XL

#26 add navie docker compose for chapter2
  ch7/Makefile
  ch7/naive-docker-compose.yaml
  ch7/target.Dockerfile
Labels: enhancement, size/S

#27 ✨ Feature/ch8 dashboard
  ch1/create_table.py
  ch1/data_generator.py
  ch1/insert_data.py
  ch1/insert_data_loop.py
  ch2/db_train.py
  ch2/db_validate_save_model.py
  ch3/save_model_to_registry.py
  ch7/Makefile
  ch7/create_table.py
  ch7/sink_connector.json
  ch7/source_connector.json
  ch8/Makefile
  ch8/data_subscriber.py
  ch8/grafana-docker-compose.yaml
  ch8/stream-docker-compose.yaml
Labels: feature, size/M

#29 Remove enable_auto_commit
  ch2/base_train.py
  ch2/base_validate_save_model.py
  ch2/db_train.py
  ch2/db_validate_save_model.py
  ch2/pipeline_train.py
  ch2/pipeline_validate_save_model.py
  ch3/load_model_from_registry.py
  ch3/save_model_to_registry.py
  ch5/crud_path.py
  ch5/crud_pydantic.py
  ch5/crud_query.py
  ch5/main.py
  ch5/multi_param.py
  ch5/path_param.py
  ch5/query_param.py
  ch6/app.py
  ch6/download_model.py
  ch6/schemas.py
  ch7/kafka-docker-compose.yaml
  ch7/naive-docker-compose.yaml
  ch7/target-docker-compose.yaml
  ch8/Makefile
  ch8/data_subscriber.py
  ch8/grafana-docker-compose.yaml
  ch8/stream-docker-compose.yaml
Labels: enhancement, size/M

#30 :art: set minimum refresh interval
  ch8/grafana-docker-compose.yaml
Labels: enhancement, size/XS

#31 remove unused network
  ch1/docker-compose.yaml
  ch3/docker-compose.yaml
Labels: enhancement, size/XS

#32 Enhance/unused-code-removal
  ch1/data_generator.py
  ch1/data_insertion.py
  ch1/data_insertion_loop.py
  ch1/docker-compose.yaml
  ch1/table_creator.py
  ch6/docker-compose.yaml
Labels: enhancement, size/S

#33 Enhance/add-minor-code
  ch1/Dockerfile
  ch3/load_model_from_registry.py
  ch5/Makefile
Labels: enhancement, size/S

#36 :art: Feature/part6 add health check
  ch6/Makefile
  ch6/docker-compose.yaml
Labels: feature, size/S

#37 enhance/minor-code-refactoring
  ch6/docker-compose.yaml
Labels: enhancement, size/S

#38 ⚡ Enhance/update code readme
  README.md
  part1/Dockerfile
  part1/Makefile
  part1/data_generator.py
  part1/data_insertion.py
  part1/data_insertion_loop.py
  part1/docker-compose.yaml
  part1/table_creator.py
  part2/Makefile
  part2/README.md
  part2/base_train.py
  part2/base_validate_save_model.py
  part2/db_train.py
  part2/db_validate_save_model.py
  part2/pipeline_train.py
  part2/pipeline_validate_save_model.py
  part3/Dockerfile
  part3/Makefile
  part3/README.md
  part3/docker-compose.yaml
  part3/load_model_from_registry.py
  part3/save_model_to_registry.py
  part5/Dockerfile
  part5/Makefile
  part5/crud_path.py
  part5/crud_pydantic.py
  part5/crud_query.py
  part5/main.py
  part5/multi_param.py
  part5/path_param.py
  part5/query_param.py
  part6/Dockerfile
  part6/Makefile
  part6/README.md
  part6/app.py
  part6/docker-compose.yaml
  part6/download_model.py
  part6/schemas.py
  part7/Makefile
  part7/README.md
  part7/connect.Dockerfile
  part7/create_table.py
  part7/kafka-docker-compose.yaml
  part7/naive-docker-compose.yaml
  part7/sink_connector.json
  part7/source_connector.json
  part7/target-docker-compose.yaml
  part7/target.Dockerfile
  part8/Dockerfile
  part8/Makefile
  part8/README.md
  part8/data_subscriber.py
  part8/grafana-docker-compose.yaml
  part8/stream-docker-compose.yaml
Labels: enhancement, size/M

#39 :memo: fix code bracket
  README.md
Labels: hotfix, size/XS

#41 hotfix/update-makefile
  part1/Makefile
  part2/Makefile
  part3/Makefile
  part5/Makefile
  part6/Makefile
  part7/Makefile
  part8/Makefile
Labels: hotfix, size/M
