Repository mlops-for-mle/mlops-for-mle, pull requests merged in 2022-11, with the labels that each got.

#1 Feature/ch1
  .github/ISSUE_TEMPLATE/bug-issue-template.md
  .github/ISSUE_TEMPLATE/feature-request-template.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/pull-request.yml
  .github/workflows/python.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  ch1/Dockerfile
  ch1/Makefile
  ch1/create_table.py
  ch1/docker-compose.yaml
  ch1/generate_data.py
  ch1/insert_data.py
  requirements-dev.txt
Labels: size/L, feature

#4 Add line length
  Makefile
Labels: hotfix, size/XS

#5 Add skip-gitignore and profile black
  Makefile
Labels: hotfix, size/XS

#7 Chapter2. Model Developement
  .gitignore
  ch2/Makefile
  ch2/README.md
  ch2/base_train.py
  ch2/base_validate_save_model.py
  ch2/db_train.py
  ch2/db_validate_save_model.py
  ch2/pipeline_train.py
  ch2/pipeline_validate_save_model.py
Labels: size/L, feature

#9 ✨ Feature/ch5 fastapi
  ch1/docker-compose.yaml
  ch5/Makefile
  ch5/crud_path.py
  ch5/crud_pydantic.py
  ch5/crud_query.py
  ch5/main.py
  ch5/multi_param.py
  ch5/path_param.py
  ch5/query_param.py
Labels: size/L, feature

#11 Enhance/change from os.getenv to argparse
  ch1/create_table.py
  ch1/docker-compose.yaml
  ch1/generate_data.py
  ch2/README.md
  ch3/README.md
Labels: enhancement, size/S

#14 ✨ Feature/[ch5] Add dockerfile
  ch5/Dockerfile
  ch5/Makefile
Labels: feature, size/S

#17 🚑 fix data generate file name
  ch1/Dockerfile
Labels: hotfix, size/XS
